language: python

python:
  - 3.5

addons:
  apt:
    packages:
      - pyqt5-dev-tools

git:
  submodules: false

before_install:
  - >-
    openssl aes-256-cbc
    -K $encrypted_0b023fb27a48_key
    -iv $encrypted_0b023fb27a48_iv
    -in github_deploy_key.enc
    -out github_deploy_key
    -d
  - chmod 600 github_deploy_key
  - eval $(ssh-agent -s)
  - ssh-add github_deploy_key
  - git submodule update --init --recursive

install:
  - pip install -r requirements.txt

script:
  - scripts/ci/deploy.sh

env:
  global:
    - OSGEO_USERNAME=3nids
    # Inject OSGEO_PASSWORD matching the OSGEO_USERNAME
    # travis encrypt OSGEO_PASSWORD=\''Your super secret password!'\'
    - secure: "JTcQtn4nvMevskR2A6ebIOnxNVpui/Rum6o4Gz6W4QiLM6WEK8QhLufB/v34j3l0kLrlXF1gbuEv/Jgq85FhOW+a5sAz3zr23yEph924oUW4b5EawFDkx3etFXaKtOLKLAbFo2eWA2lXS2c5vtbnmQ+aeTUDulw9OOZKv/HypvpZsWSa7MnSXrNX+b9pYl2Axpc1oyhvci7q0xapsZOk8O1m15JCR0Oh5KZPlUn8fSBA2ARn70e/SKjVaCtQuuFDL6Pe+0CB2bAkQDnBY9ajvd5DIBCDMwq+8UxpiA5bj9qV4zXo0MyUWb3sgiU54tzgGgsiDbGJ8/fcrHEcJhu/nhAeVGOtDKF4+WmbtASiuIJqGOE8Qy7WDXHntLck31E0zFV85ScW5dcGvCzBDT7RKTdFG07p9zQGTKX785FGEjBkopIEvPs60kORog6MKLMFvLTNsjrvQnie2Fn8NYQ+vKYunqgbbBkCEvX7OXGrk87NrX6YtxwJQ5J3bPdh7TxL83Jfe5O+Clq5if8M7YDKDnP+QP5t+eF+WNDHaIAFIr0jTcop2d9acOBKSabbC8eTAXayu8V3JywqDS4jJdnd1ifQs9/vO8Qi8qsw+pBJBoHJ2PGfwbSgIhyS5YZBKA31Rxw8RFJpvs6HIDLeQyzdnh6zLAP3SQGPWHY1al9JUhQ="
    # Transifex API token
    # travis encrypt TX_TOKEN="......"
    - secure: "BWqMLP66AkFIrPxFOH1MxiMjLctpo6ZZYCwY3/eTumZ1eP/+YC0uKQduIJUKIqLtXNVaH8YGs2VfpFUD0QguAOvsk0fnR90qWZPwS+cAecq0MwnvmmrQk3/P0xBqaDGtE6G4OF4eKyB10ZohHEHE3BIMhiZkZvZAJ8ngNGYU6dL1l1kTBPXj0wucE17RAn9MIzr7YbO16WmkPEl2nEhjh9+2S0bv1nqp1Z2we4kjCQk9TvrvxCrY+Ow037HKgxfTQd0GU2WLJPmzc9Jf1bikf4Cdx6KusyVhI2u2GeMElQZhkVacgy8iuzf9DQGRLOx/1XMcv+jlWexgcADE/oGsBAcejByUAIs4nc4Sj/rcE2I8G6UTAd/dKMktWgTmTO0KhICJLKksbGYhZ9nP9TTWeL99vJTH2HlQMUcn8UHhQLv0bo4SoA8gKGgKajRs8LKPZ//hhxicSlMhPKxO8k2nwUhZJsGFsTZQTZtvErXUPFZhmWwfoYWS4rfIw4Sl0WqlgsN3PHJanmuQUCulIkVOz3O7iE9gNtflCrp/amfwe2leQ+85mbVGmNAEWn4qcMpqK+cnsepRCRO5Qj0Wkfitw+pFk4oTptcyFwyqF3ItWOgrr866ULIU3D4Uk1M6+xMz2Q328SCbBrm4n/sQM3bwE53QQ4bQUWr0S8S8RrKdpdY="
